SHOPIFY_CONNECTION_METHOD=CLIENT_CREDENTIALS
SHOPIFY_SHOP_DOMAIN=
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_WEBHOOK_SECRET=
INTEGRATION_SECRET_KEY=
SHOPIFY_MAX_SYNC_PAGES=20
